# Application Settings
APP_NAME=Library Management System
APP_ENV=development
DEBUG=True
API_V1_PREFIX=/api/v1

# Database Configuration - PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=library_user
DB_PASSWORD=123
DB_NAME=library_db

# Security
SECRET_KEY=ce9e0ac51157b4f555b19d5da432622d76a8273b3142f03f632bcffcf5808330
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# OTP Settings
OTP_EXPIRY_MINUTES=10
OTP_LENGTH=6

# Email Configuration (Optional - for actual email sending)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=priyanshishah027@gmail.com
SMTP_PASSWORD=zhuy pjjw kskp zcub
SMTP_FROM_EMAIL=noreply@library.com
SMTP_FROM_NAME=Library Management System

# CORS
ALLOWED_ORIGINS=["*"]
# User Approval
REQUIRE_ADMIN_APPROVAL=True
